<meta charset="utf-8">
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<link href="/node_modules/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<style>
div.leaflet-tile {
    color: white;
    position: absolute;
    pointer-events: auto; /* this enables links */
}
div.leaflet-tile a {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    text-decoration: none;
    color: white;
}
</style>
<div id="map" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: black"></div>
<script src="dist/leafygal.js"></script>
<script>
var map = L.map('map', {
        maxZoom: 5,
        minZoom: 0,
        zoom: 0,
        crs: L.CRS.Simple,
        center: new L.LatLng(0,0),
});



var request = new XMLHttpRequest();
request.open('GET', 'photos.json', true);

request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    // Success!
    var data = JSON.parse(request.responseText);
    console.log("data", data);
    var vt = leafygal.gridlayout(data['@graph']);
    var layer = leafygal.gridlayer(L, vt);
    map.addLayer(layer);

  } else {
    // We reached our target server, but it returned an error

  }
};
request.onerror = function() {
  console.log("ERROR");
};
request.send();



// var items = [
// "P1043371.JPG",
// "P1043373.JPG",
// "P1043375.JPG",
// "P1043376.JPG",
// "P1043378.JPG",
// "P1043379.JPG",
// "P1043380.JPG",
// "P1043381.JPG",
// "P1043382.JPG",
// "P1043383.JPG",
// "P1043384.JPG",
// "P1043385.JPG",
// "P1043386.JPG",
// "P1043387.JPG",
// "P1043388.JPG",
// "P1043389.JPG",
// "P1043390.JPG",
// "P1043392.JPG",
// "P1043393.JPG",
// "P1043394.JPG",
// "P1043395.JPG",
// "P1043397.JPG",
// "P1043399.JPG",
// "P1043400.JPG",
// "P1043401.JPG",
// "P1043402.JPG",
// ];

// items = items.map(function (x) {
//     return {"id": "photo/04/"+x, "name": x, "tiles": "photo/04/tiles/"+x+"/z{z}y{y}x{x}.jpg" };
// });


</script>