<meta charset="utf-8">
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<link href="/node_modules/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<style>
div.leaflet-tile {
    color: white;
    position: absolute;
    pointer-events: auto; /* this enables links */
}
div.leaflet-tile a {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    text-decoration: none;
    color: white;
}
</style>
<div id="map" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: black"></div>
<script src="dist/leafygal.js"></script>
<script>
var map = L.map('map', {
        maxZoom: 15,
        minZoom: 0,
        zoom: 0,
        crs: L.CRS.Simple,
        center: new L.LatLng(0,0),
});

var request = new XMLHttpRequest();
request.open('GET', 'photos.json', true);

request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    // Success!
    var data = JSON.parse(request.responseText);
    console.log("data", data);
    var pelts = [];
    var x = 0,
        y = 0,
        items = data['@graph'];
    for (var i=0, l=items.length; i<l; i++) {
        pelts.push({x: parseInt(Math.random()*3), y: i*1, item: items[i]});
    }
    var vt = leafygal.layout(pelts),
        layer = leafygal.gridlayer(L, vt);
    map.addLayer(layer);

  } else {
    console.log("server ERROR");
  }
};
request.onerror = function() {
  console.log("connection ERROR");
};
request.send();


</script>