<meta charset="utf-8">
<script src="/node_modules/leaflet/dist/leaflet.js"></script>
<link href="/node_modules/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<style>
div.leaflet-tile {
    color: white;
    position: absolute;
    pointer-events: auto; /* this enables links */
}
div.leaflet-tile img {
    pointer-events: auto; /* this enables links */
}
div.leaflet-tile a {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    text-decoration: none;
    color: white;
}
div.leaflet-tile.summary {
    box-sizing: border-box;
    border: 1px solid gray;
}
</style>
<div id="map" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: black"></div>
<script src="dist/dynatiler.js"></script>
<script>
console.log("dynatiler", dynatiler);

var map = L.map('map', {
        maxZoom: 15,
        minZoom: 0,
        zoom: 0,
        crs: L.CRS.Simple,
        center: new L.LatLng(0,0),
});

var request = new XMLHttpRequest();
request.open('GET', 'mediawall.json', true);
request.onload = function() {
  if (request.status >= 200 && request.status < 400) {
    // Success!
    var data = JSON.parse(request.responseText);
    var pelts = [];
    var x = 0,
        y = 0,
        items = data['items'];
    console.log("items", items);
    var cols = Math.ceil(Math.sqrt(items.length));
    console.log("cols", cols);
    for (var i=0, l=items.length; i<l; i++) {
        pelts.push({x: x, y: y, item: items[i].thumb});
        if (++x >= cols) { x = 0; y += 1; }
        // if (i == 300) break;
    }
    console.log("pelts", pelts);
    var layout = dynatiler.lazytiler();
    var tiler = layout(pelts);
    var layer = dynatiler.gridlayer(L, tiler);
    map.addLayer(layer);

  } else {
    console.log("server ERROR");
  }
};
request.onerror = function() {
  console.log("connection ERROR");
};
request.send();

</script>